{% extends "layout.html" %}


{% block head %}
<title>Voice Analytics</title>

<style>

</style>
{% endblock %}

{% block body %}
<div class="text-center">
	For recording an audio instead, visit: <br>
	<a href="/">here</a>
</div>
<br><br>
<form method="POST" action="/submit_upload" enctype="multipart/form-data">
	<div class="form-row">
		<div class="col-6">
			<div class="form-check">
				<label><b>Gender</b></label><br>
				<input type="radio" id="male" name="gender" value="m">
				<label for="male">Male</label>
				<input type="radio" id="female" name="gender" value="f">
				<label for="female">Female</label>
			</div>
		</div>
		<div class="col-6">
			<label for="query2"><b>Age</b></label>
			<input type="number" class="form-control" min="0" step="1" max="100" name="query2" id="query2"
				allow-natural-numbers />
		</div>
	</div>
	<br><br>
	<div class="form-row">
		<div class="col-12">
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="userfile" name="userfile">
				<label class="custom-file-label" for="customFile">Upload your audio file</label>
			</div>
		</div>
	</div>
	<br>
	<div class="form-row">
		<button type="submit" class="btn btn-warning" name="submit">SUBMIT</button>
	</div>
</form><br>
</div>
<br>
<div class="page container">
	<h1 class="heading">Output</h1>
	<div class="form-group  purple-border">

		<textarea class="form-control" rows="2" id="output" name="output" rows="2" cols="5"
			style="width: 100%;height: 200px" autofocus>{{output}}</textarea>
	</div>

</div>

<script>
	//for automatically changing the file name when a file is selected
	$('#userfile').on('change', function () {
		var fileName = $(this).val();
		var tmp = fileName.split("\\");
		$(this).next('.custom-file-label').html(tmp[tmp.length - 1]);
	})
</script>
{% endblock %}